{% extends 'base.html.twig' %}

{% block title %}{{ 'Edit a template'|trans }}{% endblock %}

{% block idpage %}editTemplate{% endblock %}

{% block captcha %}
    {% if captcha %}
        <script src="https://www.google.com/recaptcha/api.js?render={{ publicKey }}"></script>
    {% endif %}
{% endblock %}

{% block body %}
    <!-- Error/Success messages -->
    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">
            <p style="margin-bottom: 0;"><i class="fas fa-exclamation-triangle m-r-xs"></i> {{ message }}</p>
        </div>
    {% endfor %}
    {% for message in app.flashes('warning') %}
        <div class="alert alert-warning">
            <p style="margin-bottom: 0;"><i class="fas fa-exclamation-triangle m-r-xs"></i> {{ message }}</p>
        </div>
    {% endfor %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            <p style="margin-bottom: 0;"><i class="fas fa-check m-r-xs"></i> {{ message }}</p>
        </div>
    {% endfor %}

    <div class="container-fluid">
        <h1 class="h3 mb-1 text-gray-800 mb-3">{{ 'Edit a template'|trans }}</h1>
    </div>

    <div class="container-fluid">
        {{ form_start(EditTemplateForm, {'method': 'POST'}) }}
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">{{ 'Basic informations'|trans }}</h6>
                        </div>
                        <div class="card-body">
                            <div class="form-row justify-content-center">
                                <div class="col-md-10 mb-3 mt-1">
                                <!-- If title valid -->
                                {% if EditTemplateForm.title.vars.valid %}
                                    {{ form_widget(EditTemplateForm.title, {
                                        'attr': {
                                            'class': 'form-control', 
                                            'placeholder' : 'Title'|trans}
                                        }) }}
                                <!-- If title invalid-->
                                {% else %}
                                    {{ form_widget(EditTemplateForm.title, {
                                        'attr': {
                                            'class': 'form-control invalid', 
                                            'placeholder' : 'Title'|trans}
                                        }) }}
                                    {% if not EditTemplateForm.title.vars.valid %}
                                        <span>
                                            <i class="fas fa-info-circle text-danger" tabindex="0" data-html=true data-toggle="popover" data-trigger="hover" title="<span class='text-danger' style='font-size: 18px; font-weight: 500;'>{{ 'Incorrect value'|trans }}</span>" data-content="{{ form_errors(EditTemplateForm.title) }}"></i>
                                        </span>
                                    {% endif %}
                                {% endif %}
                                </div>
                            </div>
                            <div class="form-row justify-content-center">
                                <div class="col-md-10 mb-3 mt-2">
                                    <!-- If description valid -->
                                    {{ form_widget(EditTemplateForm.description, {
                                        'attr': {
                                            'class': 'form-control', 
                                            'placeholder' : 'Description'|trans,
                                            'rows': '5'}
                                        }) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card cm shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">{{ 'Ressources'|trans }}</h6>
                        </div>
                        <div class="card-body">
                            <div id="ressources" class="w-100">
                                <!-- ressource textarea -->
                                {{ form_widget(EditTemplateForm.ressources, {
                                    'attr': {
                                        'class': 'form-control', 
                                        'placeholder' : 'Ressources'|trans}
                                    }) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card cm shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">{{ 'Impact'|trans }}</h6>
                        </div>
                        <div class="card-body">
                            <div id="impact" class="w-100">
                                <!-- impact textarea -->
                                {{ form_widget(EditTemplateForm.impact, {
                                    'attr': {
                                        'class': 'form-control', 
                                        'placeholder' : 'Impact'|trans}
                                    }) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card cm shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">{{ 'Steps to reproduce'|trans }}</h6>
                        </div>
                        <div class="card-body">
                            <div id="stepstoreproduce" class="w-100">
                                <!-- Steps to reproduce textarea -->
                                {{ form_widget(EditTemplateForm.stepstoreproduce, {
                                    'attr': {
                                        'class': 'form-control', 
                                        'placeholder' : 'Steps to reproduce'|trans}
                                    }) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card cm shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">{{ 'Mitigation'|trans }}</h6>
                        </div>
                        <div class="card-body">
                            <div id="mitigation" class="w-100">
                                <!-- Mitigation textarea -->
                                {{ form_widget(EditTemplateForm.mitigation, {
                                    'attr': {
                                        'class': 'form-control', 
                                        'placeholder' : 'Mitigation'|trans}
                                    }) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 mb-4">
                    <div class="container m-auto btndiv">
                        <button class="btn btn-info w-100" type="submit" style="height: 50px;">{{ 'Edit'|trans }}</button>
                    </div>
                </div>
            </div>

            <!-- == Captcha and crsf token == -->
            <input type="hidden" id="g-recaptcha-response" name="g-recaptcha-response">
            <!-- End Captcha and crsf token -->
        {{ form_end(EditTemplateForm) }}
    </div>
{% endblock %}

{% block stylesheets %}
    <link href="/dist/editormd/css/editormd.css" rel="stylesheet">
    <link href="/dist/datepicker.css" rel="stylesheet">
{% endblock %}

{% block script %}
    <script src="/dist/editormd/editormd.min.js"></script>
    <script src="/dist/editormd/languages/en.js"></script>
    <script src="/dist/datepicker.js"></script>
    <script type="text/javascript">

        var stepstoreproduce, impact, mitigation, ressources;

        $(function() {
            $('[data-toggle="datepicker"]').datepicker();

            // captcha
            {% if captcha %}
                grecaptcha.ready(function() {
                    grecaptcha.execute('{{ publicKey }}', {action: 'homepage'}).then(function(token) {
                        document.getElementById('g-recaptcha-response').value = token;
                        document.getElementById('g-recaptcha-response-2').value = token;
                    });
                });
            {% endif %}

            var stepstoreproduce = editormd("stepstoreproduce", {
                height: '400px',
                path   : "/dist/editormd/lib/",
                toolbarAutoFixed : false,
                toolbarIcons : function() {
                    // Or return editormd.toolbarModes[name]; // full, simple, mini
                    // Using "||" set icons align right.
                    return ["undo", "redo", "|", "bold", "del", "italic", "quote", "uppercase", "lowercase", "|", "h1", "h2", "h3", "h4", "h5", "h6", "|", "list-ul", "list-ol", "hr", "|", "fullscreen", "watch", "preview"]
                },
                onfullscreen : function() {
                    if($('#stepstoreproduce').hasClass("editormd-fullscreen")){
                        $('#stepstoreproduce').css("z-index", "5000");
                    } else if($('#impact').hasClass("editormd-fullscreen")){
                        $('#impact').css("z-index", "5000");
                    } else if($('#mitigation').hasClass("editormd-fullscreen")){
                        $('#mitigation').css("z-index", "5000");
                    } else if($('#ressources').hasClass("editormd-fullscreen")){
                        $('#ressources').css("z-index", "5000");
                    }
                },
                onfullscreenExit : function() {
                    if(!$('#stepstoreproduce').hasClass("editormd-fullscreen")){
                        $('#stepstoreproduce').css("z-index", "unset");
                    }
                    if(!$('#impact').hasClass("editormd-fullscreen")){
                        $('#impact').css("z-index", "unset");
                    }
                    if(!$('#mitigation').hasClass("editormd-fullscreen")){
                        $('#mitigation').css("z-index", "unset");
                    }
                    if(!$('#ressources').hasClass("editormd-fullscreen")){
                        $('#ressources').css("z-index", "unset");
                    }
                }
            });

            var impact = editormd("impact", {
                height: '400px',
                path   : "/dist/editormd/lib/",
                toolbarAutoFixed : false,
                toolbarIcons : function() {
                    // Or return editormd.toolbarModes[name]; // full, simple, mini
                    // Using "||" set icons align right.
                    return ["undo", "redo", "|", "bold", "del", "italic", "quote", "uppercase", "lowercase", "|", "h1", "h2", "h3", "h4", "h5", "h6", "|", "list-ul", "list-ol", "hr", "|", "fullscreen", "watch", "preview"]
                }
            });

            var mitigation = editormd("mitigation", {
                height: '400px',
                path   : "/dist/editormd/lib/",
                toolbarAutoFixed : false,
                toolbarIcons : function() {
                    // Or return editormd.toolbarModes[name]; // full, simple, mini
                    // Using "||" set icons align right.
                    return ["undo", "redo", "|", "bold", "del", "italic", "quote", "uppercase", "lowercase", "|", "h1", "h2", "h3", "h4", "h5", "h6", "|", "list-ul", "list-ol", "hr", "|", "fullscreen", "watch", "preview"]
                }
            });

            var ressources = editormd("ressources", {
                height: '340px',
                path   : "/dist/editormd/lib/",
                toolbarAutoFixed : false,
                toolbarIcons : function() {
                    // Or return editormd.toolbarModes[name]; // full, simple, mini
                    // Using "||" set icons align right.
                    return ["undo", "redo", "|", "bold", "del", "italic", "quote", "uppercase", "lowercase", "|", "h1", "h2", "h3", "h4", "h5", "h6", "|", "list-ul", "list-ol", "hr", "|", "fullscreen", "watch", "preview"]
                }
            });

            $(function () {
                $('[data-toggle="popover"]').popover()
            });
        });
    </script>
{% endblock %}
