{% extends 'base.html.twig' %}

{% block title %}{{ 'Sign in'|trans }}{% endblock %}

{% block idpage %}login{% endblock %}

{% block captcha %}
    {% if captcha %}
        <script src="https://www.google.com/recaptcha/api.js?render={{ publicKey }}"></script>
    {% endif %}
{% endblock %}

{% block body %}
    <!-- Error/Success messages -->
    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">
            <p style="margin-bottom: 0;"><i class="fas fa-exclamation-triangle m-r-xs"></i> {{ message }}</p>
        </div>
    {% endfor %}
    {% if error %}
        <div class="alert alert-danger">
            <p style="margin-bottom: 0;"><i class="fas fa-exclamation-triangle m-r-xs"></i> {{ error.messageKey|trans(error.messageData, 'security') }}</p>
        </div>
    {% endif %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            <p style="margin-bottom: 0;"><i class="fas fa-check m-r-xs"></i> {{ message }}</p>
        </div>
    {% endfor %}

    <div class="card m-auto">
        <div class="text-header">
            <h1 class="text-center mt-3 text-dark">{{ 'Sign in'|trans }}</h1>
        </div>
        {{ form_start(form, {'method': 'POST'}) }}
            <div class="form-row justify-content-center">
                <div class="col-md-10 mb-3 mt-2">
                    <!-- If email valid -->
                    {% if form.email.vars.valid %}
                        {{ form_widget(form.email, {
                            'attr': {
                                'class': 'form-control',
                                'placeholder' : 'Email'|trans,
                                'value' : last_email}
                            }) }}
                    <!-- If email invalid-->
                    {% else %}
                        {{ form_widget(form.email, {
                            'attr': {
                                'class': 'form-control invalid',
                                'placeholder' : 'Email'|trans,
                                'value' : last_email}
                            }) }}
                        {% if not form.email.vars.valid %}
                            <span>
                                <i class="fas fa-info-circle text-danger" tabindex="0" data-html=true data-toggle="popover" data-trigger="hover" title="<span class='text-danger' style='font-size: 18px; font-weight: 500;'>{{ 'Incorrect value'|trans }}</span>" data-content="{{ form_errors(form.email) }}"></i>
                            </span>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            <div class="form-row justify-content-center">
                <div class="col-md-10 mb-3 mt-2">
                    <!-- If password and repeat password valid -->
                    {% if form.password.first.vars.valid and form.password.second.vars.valid %}
                        {{ form_widget(form.password.first, {
                            'attr': {
                                'class': 'form-control',
                                'placeholder' : 'Password'|trans}
                            }) }}
                    <!-- If password and repeat password invalid -->
                    {% else %}
                        {{ form_widget(form.password.first, {
                            'attr': {
                                'class': 'form-control invalid',
                                'placeholder' : 'Password'|trans}
                            }) }}
                        {% if not form.password.first.vars.valid %}
                            <span>
                                <i class="fas fa-info-circle text-danger" tabindex="0" data-html=true data-toggle="popover" data-trigger="hover" title="<span class='text-danger' style='font-size: 18px; font-weight: 500;'>{{ 'Incorrect value'|trans }}</span>" data-content="{{ form_errors(form.password.first) }}"></i>
                            </span>
                        {% endif %}
                    {% endif %}
                </div>
            </div>

            <div class="form-row justify-content-center">
                <div class="col-md-10 mb-3 mt-2">
                    <div class="d-flex justify-content-between">
                        <div class="form-check">
                            <input type="checkbox" name="_remember_me" class="form-check-input" id="remember">
                            <label class="form-check-label" for="remember">{{ 'Remember me'|trans }}</label>
                        </div>
                        <a class="text-right" href="{{ path('app_forgot_password_request') }}">{{ 'Forgot password ?'|trans }}</a>
                    </div>
                </div>
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <input type="hidden" id="g-recaptcha-response" name="g-recaptcha-response">

            <div class="form-row justify-content-center">
                <div class="col-md-10 mb-3 mt-2">
                    <button class="btn btn-dark w-100" type="submit">{{ 'Sign in'|trans }}</button>
                </div>
            </div>
            <div class="form-row justify-content-center">
                <div class="col-md-10 mb-3 mt-1">
                    <p class="text-dark text-center">{{ 'You don\'t have an account ?'|trans }} <a href="{{ path('registration') }}">{{ 'Sign up'|trans }}</a></button>
                </div>
            </div>
        {{ form_end(form, {'render_rest': false}) }}
    </div>
{% endblock %}

{% block script %}
<script type="text/javascript">
    grecaptcha.ready(function() {
        grecaptcha.execute('{{ publicKey }}', {action: 'homepage'}).then(function(token) {
            document.getElementById('g-recaptcha-response').value = token;
        });
    });
</script>
{% endblock %}